@import url('/CSS/fonts.css');
.Baner{
    background-image: url(/img/Pyramid\ of\ Giza\ .jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
}
.Baner> img{
    opacity: 0%;
}
legend{
    text-align: center; 
    font-size: xx-large; 
    padding-bottom: 2%;
    color: #1c3394;
}
.formu{
    border-spacing: 30px 20px; 
    padding-left: 28%;
}
.t1{
    font-size: large; 
    color: #2f00ff;
}
.inputs{
    height: 20px; 
    background-color:#ecc06eb3; 
    border: 1px #ecc06eb3; 
    color: #2f00ff;
    font-size: medium;
}
#contname{
    width: 47.5%;
}
#mail , #sub{
    width: 96.2%;
}
#contphone{
    width: 82%;
}
.codearea{
    width: 13%;
}
#mess{
    padding-bottom: 43%;
}
#message{
    background-color:#ecc06eb3; 
    border: 1px #ecc06eb3;
    color: #2f00ff;
    font-size: medium;
}
#boton{
    text-align: right;
}
.boton{
    width: 20%; 
    height: 30px; 
    background-color: #f5bf57; 
    color: #1c3394; 
    border: 2px #ecbf6e; 
    font-weight: bolder;
    margin-right: 3%;
}