@import url('/CSS/fonts.css');
@import url('/CSS/colors.css');

/*Texto animado banner*/
.animated-text-container {
    text-align: center;
    padding: 5% 0%;
}
.wave-text,
.wa-text,
.wav-text {
    width: 100%;
    color: var(--color-cuatro);
    text-shadow: 0px 0px 2px var(--color-dos),
                0px 0px 8px var(--color-dos);
    margin: 0;
    padding: 0;
}
.wave-text{
    margin-bottom: 2rem;
}
.wa-text{
    margin-bottom: 2rem;
}
.wave-text .wel, .wav-text .wel, .wa-text .wel {
    display: inline-block;
    font-size: 4rem;
    animation: wave 2s ease-in-out infinite;
}

.wave-text .wel:nth-child(1), .wav-text .wel:nth-child(1), .wav-text .wel:nth-child(1){
    animation-delay: 0s;
}
.wave-text .wel:nth-child(2), .wav-text .wel:nth-child(2), .wav-text .wel:nth-child(2){
    animation-delay: 0.2s;
}
.wave-text .wel:nth-child(3),.wav-text .wel:nth-child(3), .wav-text .wel:nth-child(3){
    animation-delay: 0.4s;
}
.wave-text .wel:nth-child(4), .wav-text .wel:nth-child(4), .wav-text .wel:nth-child(4){
    animation-delay: 0.6s;
}
.wave-text .wel:nth-child(5), .wav-text .wel:nth-child(5), .wav-text .wel:nth-child(5){
    animation-delay: 0.8s;
}
.wave-text .wel:nth-child(6), .wav-text .wel:nth-child(6), .wav-text .wel:nth-child(6){
    animation-delay: 0s;
}
.wave-text .wel:nth-child(7), .wav-text .wel:nth-child(7), .wav-text .wel:nth-child(7){
    animation-delay: 0.2s;
}
.wave-text .wel:nth-child(8), .wav-text .wel:nth-child(8), .wav-text .wel:nth-child(8){
    animation-delay: 0.4s;
}
.wave-text .wel:nth-child(9), .wav-text .wel:nth-child(9), .wav-text .wel:nth-child(9){
    animation-delay: 0.6s;
}
.wave-text .wel:nth-child(10), .wav-text .wel:nth-child(10){
    animation-delay: 0.8s;
}
.wave-text .wel:nth-child(11), .wav-text .wel:nth-child(11){
    animation-delay: 0s;
}
.wave-text .wel:nth-child(12), .wav-text .wel:nth-child(12){
    animation-delay: 0.2s;
}
.wave-text .wel:nth-child(13), .wav-text .wel:nth-child(13){
    animation-delay: 0.8s;
}
.wave-text .wel:nth-child(14), .wav-text .wel:nth-child(14){
    animation-delay: 0s;
}
.wave-text .wel:nth-child(15), .wav-text .wel:nth-child(15){
    animation-delay: 0.2s;
}
.wave-text .wel:nth-child(16), .wav-text .wel:nth-child(16){
    animation-delay: 0.8s;
}
.wave-text .wel:nth-child(17), .wav-text .wel:nth-child(17){
    animation-delay: 0s;
}
.wave-text .wel:nth-child(18), .wav-text .wel:nth-child(18){
    animation-delay: 0.2s;
}.wave-text .wel:nth-child(19), .wav-text .wel:nth-child(19){
    animation-delay: 0.2s;
}
.wave-text .wel:nth-child(20), .wav-text .wel:nth-child(20){
    animation-delay: 0.8s;
}
.wave-text .wel:nth-child(21), .wav-text .wel:nth-child(21){
    animation-delay: 0s;
}
.wave-text .wel:nth-child(22), .wav-text .wel:nth-child(22){
    animation-delay: 0.2s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
.heroe{
    background-color: var(--color-ocho);
    backdrop-filter: blur(5px);
}
#texto{
    color: var(--color-cuatro);
}
.card-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*Sección video y dato curioso con su animación
.subject{
    display: flex;
    gap: 2%;
    position: relative;
}
#vid{
    flex: 1;
}
.obj{
    flex: 2; 
    margin-bottom: 2%; 
    width: 100%;
    height: 415px;
    border-radius: 24px 24px;
    transition: transform 0.3s ease-in-out;
    top: 0;
    left: 0;
    position: relative;
}
.oj{
    background-color: #1c3394;
    filter: opacity(80%);
    width: 100%;
    height: 415px;
    border-radius: 24px 24px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; 
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sam{
    width: 20%;
    height: 170px;
    object-fit: contain;
}
.content > p{
    text-align: center;
    color: #f5bf57;
    font-size: 30px;
    font-family: var(--fuente-seis);
    text-align: justify;
}
.obj:hover, .oj:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(34, 220, 233, 0.856),
                0px 0px 40px rgba(34, 220, 233, 0.856);
} 
/*Carrusel 3D
.arti{
    margin-bottom: 35%; 
    width: 100%; 
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-container{
    position: relative;
    width: 809px;
    height: 400px;
    perspective: 1000px;
}
.slider{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate 40s infinite linear;
    --depth: 300px;
}
.slide{
    position: absolute;
    width: 40%;
    height: 60%;
    left: 50%;
    top: 50%;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0px 0px rgba(34, 220, 233, 0.3),
                0 5px 15px rgba(34, 220, 233, 0.5),
                0 10px 30px rgba(34, 220, 233, 0.856);
    transform-style: preserve-3d;
    transition: transform 1s;
}
.slide> img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide:nth-child(1){
    transform: rotateY(0deg) translateZ( var(--depth));
}
.slide:nth-child(2){
    transform: rotateY(120deg) translateZ(var(--depth));

}
.slide:nth-child(3){
    transform: rotateY(240deg) translateZ(var(--depth));

}
@keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
}
.description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(32, 60, 214, 0.856);
    color: #f5bf57;
    padding: 10px;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
}
.slide:hover .description {
    transform: translateY(0); 
}
.slider-container:hover> .slider{
    animation-play-state: paused;
}*/