@import url('/CSS/fonts.css');
.banner{
    background-image: url(/img/petra.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
}
.banner> img{
    opacity: 0%;
}
.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
  margin-bottom: 6%;
}
/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}
/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}
.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.login-container {
  background: #ebebeb;
  padding: 12px;
}
/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}
.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}
.login input[type="email"], .login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}
/* Text fields' focus effect */
.login input[type="email"]:focus, .login input[type="password"]:focus {
  border-color: #888;
}
.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}
.login input[type="submit"]:hover {
  background: #17c;
}
/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}
.middle-lower-body{
    display: flex; 
    width: 100%; 
    border: 2px dotted  #269998; 
    background-color: #55d5c8; 
    padding: 2%;
    justify-content: space-between;
}
#seclog{
    flex: 1;
}
#seclog> img{
    margin: 21.5% 0% 0% 2%;
}
#artlog{
    flex: 2;
}
#artlog> h1{
    padding: 0 4%; 
    text-align: center;
    font-family: var(--fuente-cinco);
    font-size: 50px;
}
#artlog> p{
    padding: 0 4%; 
    text-align: justify;
    font-size: 23px;
    font-family: var(--fuente-once);
}
#artlog> p > strong{
    color: #1c3394;
    font-family: var(--fuente-once);
    font-size: 23px;
}
#shars{
    font-size: 25px;
}
#artlog> ul> li{
    font-family: var(--fuente-once);
    font-size: 23px;
}
#testo{
    font-family: var(--fuente-uno);
    font-size: 18px;
}
#artlog> ul> li > strong{
    color: #1c3394;
    font-family: var(--fuente-once);
    font-size: 23px;
}