@import url('/CSS/fonts.css');
@import url('/CSS/colors.css');

.cr{
	width: 60vw;
}
.log-html{
	color: var(--color-tres);
	width: 57.5vw;
	background:rgba(55, 80, 190, 0.411);
    border-radius: 0.375rem;
}
.log-html .tb{
	font-size:22px;
	display:inline-block;
	border-bottom:2px solid transparent;
    color: #55d5c8;
    text-decoration: none; 
    color: inherit;
	margin:0 15px 10px 0;
	padding-bottom: 5px;
}
.log-html .sup:checked + .tb{
	color:#fff;
	border-color: var(--color-seis);
}
.log-html .sup,
.log-form .grp .check{
	display:none;
}
.log-html .tb,
.log-form .grp .labe,
.log-form .grp .breg{
	text-transform:uppercase;
}
.log-form{
	min-height: 100vh;
	position: relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.log-form .grp{
	margin-bottom:5px;
}
.log-form .grp .labe,
.log-form .grp .in,
.log-form .grp .breg{
	width:100%;
	color: var(--color-tres);
	display:block;
}
.log-form .grp .in,
.log-form .grp .breg{
	border:none;
	padding:2% 2%;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.log-form .grp input[data-type="password"]{
	-webkit-text-security:circle;
}
.log-form .grp .labe{
	color:#f5bf57;
	font-size:15px;
  	padding: 1% 0 1% 0;
}
.log-form .grp .breg{
	background: var(--color-dos);

}
.log-form .grp .in{
	color: var(--color-tres);
}
.log-form .grp .in::-webkit-input-placeholder {
    color: var(--color-tres);
    opacity: 0.7;
}
.log-form .grp .in:-moz-placeholder {
    color: var(--color-tres);
    opacity: 0.7;
}

.log-form .grp .in::placeholder{
	color: var(--color-tres);
    opacity: 0.7;
}
.ins{
	border: none;
	background:rgba(255,255,255,.1);
	color: var(--color-tres);
}
.log-form .grp .labe .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
  	color: #f5bf57;
}
.log-form .grp .labe .icon:before,
.log-form .grp .labe .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.log-form .grp .labe .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.log-form .grp .labe .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.log-form .grp .check + .labe{
  color: #f5bf57;
}
.log-form .grp .check:checked + .labe{
	color:#fff;
}
.log-form .grp .check:checked + .labe .icon{
	background: var(--color-seis);
}
.log-form .grp .check:checked + .labe .icon:before{
	transform:scale(1) rotate(45deg);
}
.log-form .grp .check:checked + .labe .icon:after{
	transform:scale(1) rotate(-45deg);
}
.log-html .sup + .tab + .log-form .sign-in-htm{
	transform:rotate(0);
}
.log-html .log-form .sign-up-htm{
	transform:rotate(0);
}
#bday{
	font-size: 20px;
}
.foot-lk{
	font-size: 12px;
}
.foot-lk .a{
	color: #55d5c8;
	text-decoration: none;
}
.foot-lk .labe{
	color: #55d5c8; 
	padding-bottom: 15px;
}
.requirements-display {
	padding: 5px 0;
}
.req-item {
	font-size: 0.9em;
	padding: 2px 0;
	margin-bottom: 2px;
}
.req-item.valid {
	color: #5bc71cff;
	font-weight: bold;
}
.req-item.invalid {
	color: red;
}