@import url('/CSS/index.css');
@import url('/CSS/contact.css');
@import url('/CSS/login.css');
@import url('/CSS/fonts.css');
*{
    box-sizing: border-box;
}
body{
    position: relative; 
    background-image: url(/img/fondo3.png); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    overflow-x: hidden;
    padding: 1%;
}
nav{
    margin-bottom: 5%; 
    background-color: #55d5c9; 
    border: 2px dotted #1c3394; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
nav> .img-container{
    flex: 2;
    margin: 1%;
}
nav> .button-container{
    flex: 1; 
    display: flex; 
    gap: 5px; 
    justify-content: end; 
    margin-right: 1%;
}
button{
    width: 30%;
    height: 30px; 
    background-color: #f5bf57; 
    color: #1c3394; 
    border: #f5bf57;
}
button> a{
    text-decoration: none; 
    font-weight: bolder;
}
header{
    width: 100%; 
    margin-bottom: 5%;
}
header> img{
    width: 100%;
}
main{
    margin-bottom: 5%; 
    margin-top: 5%;
}
footer{
    bottom: 0.5%; 
    width: 100%;
}

#t1{
    border: 2px dotted  #1c3394; 
    border-spacing: 10px 5px;
    background-color: #55d5c9; 
    width: 100%;
}
#t2{
    border-spacing: 180px 0px;
}
#t3{
    margin-top: 2%; 
    width: 100%; 
    background-color: #55d5c9;    
    border: 2px dotted  #1c3394;
}
.footlist> li{
    list-style: none;
    line-height: 30px;
}
a{
    text-decoration: none;     
}
.a1{
    font-size: large;
    color: black; 
}
a> span{
    color: #1c3394;
    font-family: var(--fuente-tres);
}
td> p{
    text-align: center;
    font-size: large;
}
tr> th{
    padding-top: 1%;
}