@import "index";
@import "contact";
@import "colors";
@import "fonts";
/*Variables colores sombreado*/
$shadow-light: #f9fbfc;
$shadow-medium: #40d7f1;
$shadow-dark: #40d7f1;
@mixin centered-column {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin social-icon-style($bck-color) {
    background-color: $bck-color;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: #f5bf57;
    &:hover {
        transform: scale(1.2);
        box-shadow: 
            0px 0px 20px rgba(34, 220, 233, 0.856),
            0px 0px 40px rgba(34, 220, 233, 0.856);
    }
}
@mixin background-color($back-color){
    background-color: $back-color;
    backdrop-filter: blur(5px);
}
*{
    font-family: var(--fuente-nine);
    font-size: 16px;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/img/descarga\(3\).jfif);
    background:{
        repeat: no-repeat;
        size: cover;
        position: center;
        attachment: fixed;
    }
    backdrop-filter: blur(2px);
    .bckgd{
        @include background-color($back);
        .header{
            .button-container{
                button{
                    transition: transform 0.3s ease-in-out;
                }
            }
        }
        .navbar{
            .navbar-collapse{
                .navbar-toggler{
                    .navbar-toggler-icon{
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M4 6H20M4 12H20M4 18H20' stroke='%2355d5c9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                        filter: invert(100%) sepia(400%) saturate(2800%) hue-rotate(130deg) brightness(2000%) contrast(100%); 
                    }
                    &:focus{
                        box-shadow: none;
                        outline: none;
                    }    
                }
                .nav{
                    transition: transform 0.3s ease-in-out;
                    @media (max-width: 900px) {
                        @include centered-column;
                    }
                }
                .nav-link:hover{
                    color: var(--color-siete);
                    transform: scale(1.1);
                    box-shadow: none;
                }
                .nav-active{
                    color: var(--color-siete) !important;
                    box-shadow: 0px 0px 10px $shadow-light,
                                0px 0px 20px $shadow-medium,
                                0px 0px 40px $shadow-dark;
                }
                #bin, #bus, #bco, #blo{
                    & {
                        text-decoration: none; 
                        font-weight: bold;
                        font-size: larger;
                        color: var(--color-cuatro);
                    }
                    &:hover {
                        text-shadow: 
                            0px 0px 5px $shadow-light,
                            0px 0px 10px $shadow-medium,
                            0px 0px 16px $shadow-dark;
                    }
                }
            }
        }
    }
    .carousel{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        .carousel-item{
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .carousel-control-prev, .carousel-control-next{
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .fot{
        width: 100%;
        @include background-color(rgba(28, 51, 148, 0.5));
        #face {
            @include social-icon-style(#3b5998); // Solo pasas el color único
        }
        #inst {
            @include social-icon-style(#ac2bac);
        }
        #wha {
            @include social-icon-style(#1f8b11);
        }
        .cred{
            color: var(--color-cuatro);
            font-weight: bold;
            font-size: larger;
        }
    }
}